*{
    margin: 0;
    padding: 0;
    max-width: 100%;
}

// ........................................... Header ......................................

#header{
    background: linear-gradient(to right, #5e8ada, #14ae19);
    max-width: 100%;
    background-color: rgb(240, 230, 230);
    .container{
        .header-text{
            span{
                color: rgb(203, 61, 61);
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 1rem; 
            .header{
                display: flex;
                flex-direction: column;
                margin-left: 5rem;
                margin-top: 5rem;
                h1{
                    font-size: 4rem;
                }
                p{
                    font-size: 2rem;
                    font-family:'Times New Roman', Times, serif;
                    font-weight:bold;
                }
            }
            .header_about{
                font-size: 1rem;
            }
            .image{
                a{
                    img{
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }
    @media (max-width: 768px){
        .header-text{
            gap: 3rem;
            display: flex;
            .header{
                font-size: 5px;
                display: flex;
                flex-direction: column-reverse;
                h1{
                    font-size: 5px;
                }
                p{
                    display: none;
                }
            }
        }
    }
}

// .......................................   About   ...................................

.about-section {
background: linear-gradient(to right, #a1cd26, #4161c0);
    margin-top: 1rem;
    display: flex;
    flex-direction: row;

    .image-container {
        margin: 0.5rem;
        flex: 1;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .content-container {

        .content {
            align-items: center;
            justify-content: center;
            h1,
            h2 {
                margin: 0;
            }

            .buttons {
                display: flex;
                margin-top: 1.2rem;

                button {
                    background-color: rgb(182, 29, 54);
                    padding: 0.2rem;
                    margin-right: 0.6rem;
                }
                :hover{
                    cursor: pointer;
                }
            }
        }
    }
    @media (max-width: 768px){
    }
}

.sub-content {
    margin : 1rem 1rem 1rem;
    display: flex;
    display: none;
    padding-top: 1.2rem;
    li{
        list-style: none;
    }

    .education-sub,
    .skill-sub,
    .achievement-sub {
        display: none;

        h3 {
            margin-top: 0;
        }
    }
}


// ............................................  Services  ...............................................

#services{
    background: linear-gradient(to left,rgb(155, 117, 117), rgb(80, 97, 149));
    margin-top: 1rem;
    .sub-title{
        border: none;
        color: whitesmoke;
        align-items: center;
        justify-content: center;
    }
    .services-list{
        display: grid;
        grid-template-columns: repeat(3 ,1fr);
        @media (max-width: 768px){
            display: flex;
            flex-direction: column;
        }
    }
    .services-list div{
        background-color: #383535;
        margin: 1rem;
        color: aqua;
        padding: 2rem;
        font-size: 1rem;
        border-radius: 0.98rem;
        :hover {
            cursor: pointer;
        }
        i{
            font-size: 3.02rem;
            margin-bottom: 1.95rem;
        }
        h2{
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 0.98rem;
        }
        a{
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            margin-top: 20px;
            display: inline-block;
        }
    }
    .container{
        :hover{
            background-color: #14ae19;
        }
    }
}

// ...........................................   Work   ......................................

#work{
    background: linear-gradient(to right, rgb(29, 15, 224), rgb(111, 255, 1));
    color: aqua;
    margin-top: 1rem;
    height: auto;
    .container{
        .work-list{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @media (max-width: 768px){
                background: linear-gradient(to right, rgb(29, 15, 224), rgb(111, 255, 1));
                display: flex;
                flex-direction: column;
            }
            .work{
                padding: 2rem;
                background-color: black;
                margin: 1rem;
                border-radius: 1rem;
                max-width:100%;
                height: auto;
                a{
                    align-items: center;
                    justify-content: center;
                    img{
                        max-width: 100%;
                        height: auto;
                    }
                }
                .layer{
                    margin-left: 5%;
                    li{
                        margin-left: 1rem;;
                    }
                    a{
                        text-decoration: none;
                        color: black;
                        i{
                            margin: 1rem;
                            background-color: #fff;
                            border-radius: 50%;
                            padding: 1rem;
                        }
                        :hover {
                            color: rgb(255, 0, 0);
                        }
                    }
                }
            }
            :hover {
                background-color: #35b61c;
                color: white;
                cursor: pointer;
            }
        }
    }
}


// ...........................................   Contact   ......................................

#contact{
    margin-top: 1rem;
    .containet{
        max-width: 100%;
        padding: 0.5rem;
        background-color: #25d2aabe;
        align-items: center;
        justify-content: center;
        .row{
            gap: 1rem;
            .contact-left{
                display: flex;
                flex-direction: column;
                a{
                    text-decoration: none;
                }
                .sub-title{
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 1.5rem;
                }
                p{
                    margin-top: 0.5rem;
                    a{
                        margin-left: 1rem;
                        text-decoration: none;
                    }
                    :hover{
                        color: white;
                    }
                }
                .social-icons{
                    margin: 1rem;
                    font-size: 1rem;
                    a{
                        color: #ffffff;
                        padding: 0.5rem;
                    }
                    :hover{
                        color: #1423ae;
                        cursor: pointer;
                    }
                }
            }
            .contact-right{
                width: 82%;
                form input,form textarea {
                    width: 100%;
                    border: 0;
                    outline: none;
                    background: #262626;
                    padding: 15px;
                    margin: 0.5rem;
                    color: #fff;
                    font-size: 1.2rem;
                    border-radius: 6px;
            }
            .btn2 {
                margin-left: 1rem;
                padding: 10px 20px;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                background-color: #3498db;
                color: #ffffff;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.3s;
                &:hover {
                    background-color: #2980b9;
                    transform: scale(1.05);
                }
                @media (max-width: 768px) {
                    font-size: 14px;
                    padding: 8px 16px;
                }
            }
            }
        }
    }
    .copyright {
        max-width: 100%;
        height: 2%;
        text-align: center;
        background: #262626;
        font-weight: 300;
        font-size: 1rem;
    }
    .copyright span {
        color: #919241;
    }
    @media (max-width: 768px){
        .contact-left{
            font-size: 1rem;
            display: grid;
            a{
                margin-left: 1rem;
            }
        }
    }
}